<app-planet-search (searchTxt)="onSearch($event)"></app-planet-search>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card">
      <ul class="list-group list-group-flush" *ngFor="let planet of planets | filterBy: searchText ;  let i = index ">
        <li class="list-group-item "> {{i + counter}} <strong> Name:</strong> {{ planet.name}} , <strong> Diameter:</strong>
          {{ planet.diameter }} <button type="button" routerLink="/planetdetails/{{i+counter}}" class="btn btn-primary float-right">
            Details </button> </li>
      </ul>
    </div>
  </div>
</div>

<app-planet-pagination [Count]="nrCounter" (numberPage)="onNumber($event)"></app-planet-pagination>
