<button type="button" routerLink="/planetlist" class="btn btn-warning btn-lg">BACK</button>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card-container" style="width: 300px">
      <div class="shadow card-content">
            <div class="row">
          <div class="col">
            <h3> <strong>Name: </strong> {{ planetDetail.name}}</h3>
            <p><strong>terrain: </strong> {{ planetDetail.terrain}} </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><strong>climate: </strong> {{ planetDetail.climate}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><strong>population: </strong> {{ planetDetail.population}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><strong>orbital_period: </strong> {{ planetDetail.orbital_period}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><strong>terrain: </strong> {{ planetDetail.terrain}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><strong>gravity: </strong> {{ planetDetail.gravity}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
